.about-tabs {
  border-bottom: 1px solid #dddddd;
}

.about-tabs-wrapper {
  width: 800px;
  margin: 0 auto;
}

.about-tabs-item {
  color: #333333;
  line-height: 45px;
  height: 60px;
  float: left;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.about-tabs-item.selected {
  color: #ff6701;
  cursor: default;
}

.about-tabs-item-mark {
  visibility: hidden;
  border-bottom: 6px solid #dddddd;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: inline-block;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -3px;
  bottom: 0;
  position: absolute;
}

.about-tabs-item-mark span {
  border-bottom: 5px solid #ffffff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  display: inline-block;
  width: 0;
  height: 0;
  bottom: 0;
  position: absolute;
  top: 2px;
  left: -4px;
}

.about-tabs-item.selected .about-tabs-item-mark {
  visibility: visible;
}

.about-tabs-saperator {
  float: left;
  font-size: 20px;
  line-height: 45px;
  height: 45px;
  margin: 0 15px;
  color: #c9c9c9;
}

.about-contents-item p {
  text-indent: 2em;
}

.about-contents-item p.no-indent {
  text-indent: 0;
}

.about-contents-item p.center {
  text-align: center;
}

.about-contents-item p.right {
  text-align: right;
}

.about-contents-item em {
  font-weight: bold;
  font-style: normal;
}

.about-contents-item span.small {
  font-size: 13px;
}

.orange {
  color: #ff6600;
}

.orange a {
  color: #ff6600;
}

.blue {
  color: #0000ff;
}

.blue a {
  color: #0000ff;
}

.red {
  color: #ff0000;
}

.red a {
  color: #ff0000;
}

.bg-red {
  background-color: #ff0000;
}

.upper {
  font-size: 10px;
  padding: 1px;
  color: #ffffff;
  vertical-align: top;
}

.bank-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
  background-repeat: no-repeat;
}

.bank-icon.icbc {
  background-image: url(/images/icbc-icon.png);
}

.bank-icon.boc {
  background-image: url(/images/boc-icon.png);
}

.bank-icon.abc {
  background-image: url(/images/abc-icon.png);
}

.bank-icon.cmbc {
  background-image: url(/images/cmbc-icon.png);
}

.bank-icon.cmb {
  background-image: url(/images/cmb-icon.png);
}

.bank-icon.ccb {
  background-image: url(/images/ccb-icon.png);
}

.bank-icon.bankcomm {
  background-image: url(/images/bankcomm-icon.png);
}

.bank-icon.pingan {
  background-image: url(/images/pingan-icon.png);
}

.underline {
  text-decoration: underline;
}
