.detail {
  padding: 26px 34px;
  border: 1px solid #e6e6e6;
}

.detail-title {
  font-size: 24px;
  color: #333333;
  margin-bottom: 7px;
}

.detail-summary {
  margin-bottom: 12px;
}

.detail-summary-icon {
  float: left;
  width: 39px;
  height: 14px;
  background-image: url(/images/detail-icon.png);
  margin-right: 4px;
}

.detail-summary-code {
  float: left;
  font-size: 12px;
  color: #ff8800;
  line-height: 14px;
}

.detail-summary-text {
  float: left;
  font-size: 12px;
  color: #a3a4a4;
  line-height: 14px;
  margin-right: 8px;
}

.detail-summary-rank {
  float: left;
}

.detail-summary-rank-star {
  float: left;
  width: 14px;
  height: 14px;
  background-image: url(/images/detail-rank-star.png);
  margin-right: 8px;
}

.detail-gallery {
  width: 545px;
  float: left;
}

.detail-gallery-main {
  margin-bottom: 15px;
  position: relative;
  width: 545px;
  height: 280px;
  overflow: hidden;
}

.detail-gallery-main-list {
  position: relative;
  width: 999999px;
}

.detail-gallery-main-list-item {
  width: 545px;
  height: 280px;
  float: left;
}

.detail-gallery-thumbs-prev {
  float: left;
  width: 28px;
  height: 65px;
  background-image: url(/images/detail-gallery-thumbs-prev.png);
  cursor: pointer;
}

.detail-gallery-thumbs-wrapper {
  position: relative;
  overflow: hidden;
  width: 486px;
  height: 65px;
  float: left;
}

.detail-gallery-thumbs-list {
  width: 99999999999px;
  position: relative;
}

.detail-gallery-thumbs-list-item {
  float: left;
  border: 1px solid #ff9216;
  width: 112px;
  height: 63px;
  margin-right: 10px;
  cursor: pointer;
}

.detail-gallery-thumbs-list-item.last {
  margin-right: 0;
}

.detail-gallery-thumbs-list-item.selected {
  border: 1px solid #32a1ff;
}

.detail-gallery-thumbs-next {
  float: left;
  width: 28px;
  height: 65px;
  background-image: url(/images/detail-gallery-thumbs-next.png);
  cursor: pointer;
}

.detail-description {
  float: left;
  padding: 7px 30px;
  line-height: 34px;
}

.detail-description-title {
  font-size: 20px;
  color: #ff8800;
  font-weight: bold;
}

.detail-description-text {
  font-size: 14px;
  color: #333333;
}

.detail-description-text em {
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
}

.contents {
  border: 1px solid #e5e5e5;
}

.contents-tabs-item {
  float: left;
  height: 48px;
  padding: 0 23px;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  font-size: 20px;
  line-height: 48px;
  color: #333333;
  font-weight: bold;
  cursor: pointer;
}

.contents-tabs-item.selected {
  border-color: #32a1ff;
  background-color: #32a1ff;
  color: #ffffff;
}

.contents-details-item-content-text {
  font-size: 15px;
  color: #333333;
  line-height: 25px;
}

.contents-details-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.contents-details-item-content {
  padding-right: 183px;
  padding-left: 126px;
}

.contents-details-item-content-text em {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
}

.contents-details-item-content-text em.red {
  color: #da0000;
}

.contents-details-item-content-schedule {
  position: relative;
}

.contents-details-item-content-schedule.first {
  margin-top: 26px;
}

.contents-details-item-content-schedule-left {
  width: 126px;
  position: absolute;
  left: -126px;
  height: 100%;
}

.contents-details-item-content-schedule-title {
  height: 54px;
  line-height: 54px;
  font-size: 24px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #dddddd;
}

.contents-details-item-content-schedule-title-day {
  float: left;
  width: 91px;
  color: #337fe5;
  padding-left: 19px;
}

.contents-details-item-content-schedule-title-text {
  padding-left: 110px;
  color: #333333;
}

.contents-details-item-content-schedule-list-item {
  color: #333333;
  line-height: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
}

.contents-details-item-content-schedule-list-item.last {
  border-bottom: none;
}

.contents-details-item-content-schedule-list-item-time {
  float: left;
  width: 91px;
  padding-left: 19px;
}

.contents-details-item-content-schedule-list-item-text {
  padding-left: 110px;
  font-size: 15px;
}

.contents-details-item-content-schedule-list-item-text.last {
  margin-bottom: 32px;
}

.contents-details-item-content-schedule-list-item-text .red {
  color: #da0000;
}

.contents-details-item-content-schedule-list-item-subtitle {
  position: relative;
  left: 110px;
  font-size: 17px;
  height: 28px;
  line-height: 28px;
  padding-left: 18px;
  background-repeat: no-repeat;
  background-image: url(/images/details-item-schedule-subtitle-background.png);
  font-style: italic;
  border-bottom: 1px solid #ffb346;
  margin-top: 18px;
  margin-bottom: 18px;
}

.contents-details-item-content-schedule-list-item-thumbs {
  padding-left: 110px;
}

.contents-details-item-content-schedule-list-item-thumbs-item {
  float: left;
  margin-right: 42px;
  margin-bottom: 10px;
}

.contents-details-item-content-schedule-list-item-thumbs-item-pic {
  width: 341px;
  height: 217px;
}

.contents-details-item-content-schedule-list-item-thumbs-item-title {
  text-align: center;
  font-size: 18px;
  line-height: 38px;
}

.contents-details-feiyong-item {
  line-height: 40px;
  font-size: 15px;
  padding: 0 24px;
}

.contents-details-feiyong-item .title {
  font-weight: bold;
}

.contents-details-feiyong-item .price {
  color: #ff8800;
}

.contents-details-feiyong-item-list-item .icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(/images/details-feiyong-item-icon.png);
  text-align: center;
  line-height: 18px;
  color: #ffffff;
  margin-right: 8px;
}

.contents-details-feiyong-item-tip {
  color: #32a1ff;
  padding-left: 26px;
}

.contents-details-feiyong-item-tel {
  color: #32a1ff;
  text-decoration: underline;
}

.contents-details-baoming {
  padding: 0 24px;
}

.contents-details-baoming-title {
  font-size: 16px;
  color: #ff0000;
  font-weight: bold;
  margin-bottom: 20px;
}

.contents-details-baoming-item {
  padding-left: 123px;
}

.contents-details-baoming-item-table {
  table-layout: fixed;
}

.contents-details-baoming-item-table td {
  border-collapse: collapse;
  border: 1px solid #626364;
  font-size: 12px;
  line-height: 16px;
  padding: 16px 2px;
}

.contents-details-baoming-item td.title {
  width: 92px;
  text-align: center;
  color: #0066ff;
  font-weight: bold;
}

.contents-details-baoming-item td.content {
  width: 593px;
}

.contents-details-baoming-item td p {
  margin: 0;
}

.contents-details-baoming-item td p em {
  font-style: normal;
  font-weight: bold;
}

.contents-details-baoming-item p.tel {
  background-repeat: no-repeat;
  background-image: url(/images/tel-icon.png);
  padding-left: 24px;
  color: #ff0000;
  font-weight: bold;
  line-height: 20px;
}

.contents-details-baoming-item p.blue {
  color: #0000ff;
  font-weight: bold;
}

.contents-details-baoming-item span.qq {
  background-repeat: no-repeat;
  background-image: url(/images/qq-icon.png);
  padding-left: 29px;
}

.contents-details-shuoming {
  padding: 18px 27px;
  font-size: 12px;
  line-height: 16px;
}

.contents-details-shuoming-title {
  color: #ff0000;
  margin-bottom: 4px;
  font-weight: bold;
}

.contents-details-shuoming-content {
  padding: 0 95px;
  margin-bottom: 4px;
}

.contents-details-shuoming-content table td {
  border-collapse: collapse;
  border: 1px solid #626364;
  padding: 3px;
}

.contents-details-shuoming-content em {
  font-style: normal;
  font-weight: bold;
  color: #fc9204;
}

.contents-details-shuoming-content .blue {
  color: #0000ff;
}

.contents-details-shuoming-content .underline {
  text-decoration: underline;
}

.contents-details-shuoming-content .icon {
  padding: 10px;
}

.contents-details-shuoming-content .icon span {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.contents-details-shuoming-content .icon span.icbc {
  background-image: url(/images/icbc-icon.png);
}

.contents-details-shuoming-content .icon span.boc {
  background-image: url(/images/boc-icon.png);
}

.contents-details-shuoming-content .icon span.abc {
  background-image: url(/images/abc-icon.png);
}

.contents-details-shuoming-content .icon span.cmbc {
  background-image: url(/images/cmbc-icon.png);
}

.contents-details-shuoming-content .icon span.cmb {
  background-image: url(/images/cmb-icon.png);
}

.contents-details-shuoming-content .icon span.ccb {
  background-image: url(/images/ccb-icon.png);
}

.contents-details-shuoming-content .icon span.bankcomm {
  background-image: url(/images/bankcomm-icon.png);
}

.contents-details-shuoming .qrcode {
  float: left;
}
