body {
  background-color: #ffffff;
  font-family: "Microsoft YaHei";
}

.clear-fix {
  zoom: 1;
}

.clear-fix:before, .clear-fix:after {
  content: "";
  display: block;
}

.clear-fix:after {
  clear: both;
}

.row {
  width: 1190px;
  margin: 0 auto;
  margin-bottom: 30px;
  zoom: 1;
}

.row:after {
  content: "";
  clear: both;
}

.header {
  height: 112px;
}

.logo {
  margin-top: 17px;
  width: 207px;
  height: 87px;
  background: url(/images/logo.png);
  float: left;
}

.search {
  width: 412px;
  height: 36px;
  background: #ff8800;
  padding: 2px;
  float: left;
  margin-top: 47px;
  margin-left: 59px;
}

.search-wrapper {
  width: 331px;
  height: 36px;
  background-color: #ffffff;
  float: left;
}

.search-icon {
  float: left;
  width: 12px;
  height: 12px;
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url(/images/search-icon.png);
}

.search-input {
  border: none;
  margin-top: 9px;
  width: 297px;
  outline: none;
  font-size: 12px;
}

.search-button {
  float: left;
  width: 81px;
  height: 36px;
  cursor: pointer;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.search-button a {
  color: #ffffff;
  text-decoration: none;
}

.nav {
  height: 63px;
  background-color: #05498a;
}

.nav-bar {
  margin-bottom: 0;
}

.classification {
  width: 190px;
  height: 493px;
  background-color: #1b73d0;
  color: #ffffff;
  position: absolute;
}

.classification-title {
  padding: 14px 10px;
}

.classification-item {
  padding-left: 10px;
  padding-bottom: 7px;
  border-bottom: 1px solid #609dde;
  margin-bottom: 8px;
}

.classification-item.last {
  margin-bottom: 0;
  border-bottom: none;
}

.classification-item-title {
  height: 23px;
  line-height: 23px;
  background-repeat: no-repeat;
  padding-left: 29px;
  font-size: 14px;
}

.classification-item-title.guangdong {
  background-image: url(/images/classification-item-title-icon-guangdong.png);
}

.classification-item-title.chuanzang {
  background-image: url(/images/classification-item-title-icon-chuanzang.png);
}

.classification-item-title.guonei {
  background-image: url(/images/classification-item-title-icon-guonei.png);
}

.classification-item-title.chujing {
  background-image: url(/images/classification-item-title-icon-chujing.png);
}

.classification-item-title.tuandui {
  background-image: url(/images/classification-item-title-icon-tuandui.png);
}

.classification-item-content {
  float: left;
  width: 56px;
  height: 26px;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
}

.nav-list {
  margin-left: 190px;
}

.nav-list-item {
  float: left;
  color: #ffffff;
  line-height: 63px;
  padding: 0 25px;
}

.nav-list-item a {
  color: #ffffff;
  text-decoration: none;
}

.nav-list-item-saparator {
  float: left;
  color: #409cfc;
  line-height: 63px;
}

.gallery {
  height: 430px;
}
