body {
  background-color: #ffffff;
  font-family: "Microsoft YaHei";
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #666666;
}

a:link {
  text-decoration: none;
  color: #666666;
}

a:visited {
  text-decoration: none;
  color: #666666;
}

a:active {
  text-decoration: none;
  color: #666666;
}

a:hover {
  text-decoration: none;
  color: #666666;
}

.clear-fix {
  zoom: 1;
}

.clear-fix:before, .clear-fix:after {
  content: "";
  display: block;
}

.clear-fix:after {
  clear: both;
}

.row {
  width: 1190px;
  margin: 0 auto;
  margin-bottom: 30px;
  zoom: 1;
}

.row.last {
  margin-bottom: 0;
}

.row:after {
  content: "";
  clear: both;
}

.header {
  height: 112px;
  margin-bottom: 0;
}

.logo {
  margin-top: 28px;
  width: 223px;
  height: 64px;
  background: url(/images/logo.png);
  float: left;
}

.search {
  width: 412px;
  height: 36px;
  background: #ff8800;
  padding: 2px;
  float: left;
  margin-top: 47px;
  margin-left: 59px;
}

.search-wrapper {
  width: 331px;
  height: 36px;
  background-color: #ffffff;
  float: left;
}

.search-icon {
  float: left;
  width: 12px;
  height: 12px;
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url(/images/search-icon.png);
}

.search-input {
  border: 0;
  margin-top: 9px;
  width: 290px;
  outline: none;
  font-size: 12px;
  background-color: #ffffff;
}

.search-button {
  float: left;
  width: 81px;
  height: 36px;
  cursor: pointer;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.search-button a {
  color: #ffffff;
  text-decoration: none;
}

.nav {
  height: 63px;
  background-color: #05498a;
  min-width: 1190px;
}

.nav-bar {
  margin-bottom: 0;
  position: relative;
}

.nav-list-item {
  float: left;
  color: #ffffff;
  line-height: 63px;
  padding: 0 25px;
}

.nav-list-item a {
  color: #ffffff;
  text-decoration: none;
}

.nav-list-item-saparator {
  float: left;
  color: #409cfc;
  line-height: 63px;
}

.crumb {
  margin-top: 22px;
  font-size: 14px;
  color: #a3a4a4;
}

.footer {
  background-color: #f2f2f2;
  padding-top: 45px;
}

.footer-col {
  float: left;
  margin-right: 40px;
}

.footer-col-title {
  font-size: 16px;
  line-height: 24px;
  color: #626262;
}

.footer-col-text {
  width: 190px;
  font-size: 12px;
  line-height: 20px;
  color: #626262;
}

.footer-col-weibo {
  float: left;
  font-size: 14px;
  color: #a4a4a4;
  padding-left: 21px;
  background-repeat: no-repeat;
  margin-right: 5px;
  margin-top: 5px;
  line-height: 19px;
}

.footer-col-weibo.sina {
  background-image: url(/images/about-contact-weibo-icon.png);
}

.footer-col-weibo.t {
  background-image: url(/images/about-contact-tweibo-icon.png);
}

.footer-copyright {
  position: relative;
  top: -75px;
}

.footer-copyright-text {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 35px;
}

.footer-copyright-imgs img {
 margin-right: 10px;
}
