.left-side-bar {
  position: fixed;
  left: 1px;
  z-index: 999999999 !important;
}

.left-side-bar-banner {
  width: 210px;
  height: 430px;
  overflow: hidden;
}

.left-side-bar-banner img {
  width: 210px;
  height: 430px;
}
