.left-side-bar {
  position: fixed;
  left: 1px;
  z-index: 999999999 !important;
}

.left-side-bar-banner {
  width: 210px;
  height: 430px;
  overflow: hidden;
}

.left-side-bar-banner img {
  width: 210px;
  height: 430px;
}

.left-side-bar-banner-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background-image: url(/images/left-side-bar-banner-close.png);
}
