.right-side-bar {
  position: fixed;
  top: 615px;
  right: 1px;
  z-index: 999999999 !important;
}

.right-side-bar-item {
  width: 78px;
  height: 78px;
  border: 1px solid #eeeeee;
  margin-bottom: 2px;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
}

.right-side-bar-item-icon {
  background-repeat: no-repeat;
  margin: 0 auto 8px auto;
}

.right-side-bar-item-icon.qq-service {
  width: 35px;
  height: 40px;
  background-image: url(/images/right-side-bar-custom-service-icon.png);
  margin-top: 9px;
}

.right-side-bar-item-icon.wx-qr {
  width: 35px;
  height: 35px;
  background-image: url(/images/right-side-bar-qr-code-icon.png);
  margin-top: 13px;
}

.right-side-bar-item-text {
  text-align: center;
  color: #666666;
  font-size: 14px;
}

.right-side-bar-item-wrapper {
  position: absolute;
  top: 0;
  right: 79px;
  display: none;
  padding-right: 2px;
}

.right-side-bar-item-panel {
  border: 1px solid #eeeeee;
  background-color: #ffffff;
}

.right-side-bar-item:hover .right-side-bar-item-wrapper {
  display: block;
}

.right-side-bar-item-panel.qq-service {
  width: 330px;
  height: 143px;
  padding-top: 15px;
}

.right-side-bar-item-panel-item {
  float: left;
  width: 145px;
  height: 30px;
  margin-left: 15px;
}

.right-side-bar-item-panel-item-icon {
  float: left;
  position: relative;
  top: 5px;
  margin-right: 5px;
}

.right-side-bar-item-panel-item-link {
  line-height: 30px;
  font-size: 14px;
  color: #666666;
}

.right-side-bar-item-panel.wx-qr {
  padding: 13px;
}

.right-side-bar-item-wrapper.top {
  bottom: 0;
  top: inherit;
}

.right-side-bar-item.back-to-top {
  background-color: #e58b0f;
  border-color: #e58b0f;
}

.right-side-bar-item.back-to-top:hover {
  background-color: #fc9404;
  border-color: #fc9404;
}

.right-side-bar-item.back-to-top .right-side-bar-item-text {
  color: #ffffff;
}

.right-side-bar-item-icon.back-to-top {
  width: 30px;
  height: 37px;
  background-image: url(/images/right-side-bar-back-to-top.png);
  margin-top: 14px;
}
