.ui-slide {
    position: relative;
    width: 480px;
    height: 280px;
    overflow: hidden
}

.ui-slide.hover .ui-slide__next,
.ui-slide.hover .ui-slide__prev {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.ui-slide__panel a {
    display: block
}

.ui-slide__panel img {
    max-width: none
}

.ui-slide__nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -35px
}

.ui-slide__trigger {
    float: left;
    width: 10px;
    height: 0;
    padding-top: 10px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
    background-color: transparent;
    background-color: rgba(0, 0, 0, .4);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
    zoom: 1
}

.ui-slide__trigger--active {
    background-color: #ff6c00;
    filter: none
}

.ui-slide__next,
.ui-slide__prev {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: -webkit-transform .2s linear 0s, opacity .2s linear 0s;
    -moz-transition: -moz-transform .2s linear 0s, opacity .2s linear 0s;
    -ms-transition: -ms-transform .2s linear 0s, opacity .2s linear 0s;
    -o-transition: -o-transform .2s linear 0s, opacity .2s linear 0s;
    transition: transform .2s linear 0s, opacity .2s linear 0s;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d
}

.ui-slide__prev {
    left: 0;
    -webkit-transform: translate3d(-40px, 0, 0);
    -moz-transform: translate3d(-40px, 0, 0);
    -ms-transform: translate3d(-40px, 0, 0);
    -o-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0)
}

.ui-slide__next {
    right: 0;
    -webkit-transform: translate3d(40px, 0, 0);
    -moz-transform: translate3d(40px, 0, 0);
    -ms-transform: translate3d(40px, 0, 0);
    -o-transform: translate3d(40px, 0, 0);
    transform: translate3d(40px, 0, 0)
}

.exp-slide-round {
    position: relative;
    width: 1190px;
    height: 450px
}

.exp-slide-round .ui-slide__next,
.exp-slide-round .ui-slide__prev {
    top: 195px;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.exp-slide-round .ui-slide__prev {
    left: 100px
}

.exp-slide-round .ui-slide__next {
    right: 100px
}

.exp-slide-round .ui-slide__nav {
    bottom: 0
}

.exp-slide-round .ui-slide__trigger {
    background-color: #cdcdcd;
    filter: none
}

.exp-slide-round .ui-slide__trigger--active {
    background-color: #ff6c00
}

.exp-slide-round img {
    max-width: none;
    max-height: none;
    border: 0 none;
    background: #888
}

.exp-slide-round .ui-slide__content {
    position: relative;
    overflow: hidden
}

.exp-slide-round .ui-slide__panel {
    cursor: pointer;
    position: absolute;
    overflow: hidden;
}

.exp-slide-round .ui-slide__panel a.elementLink {
    display: block;
    overflow: hidden;
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%
}

.exp-slide-round .ui-slide__panel img {
}

.exp-slide-round .ui-slide__panel .elementOverlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0)
}

.btn-slide-next,
.btn-slide-prev {
    width: 40px;
    height: 40px
}

.btn-slide-next {
    background-image: url(/images/btn-slide-next-disabled.png);
}

.btn-slide-next:hover {
    background-image: url(/images/btn-slide-next-hover.png);
}

.btn-slide-next.ui-slide__disabled {
    cursor: default;
    background-image: url(/images/btn-slide-next-disabled.png);
}

.btn-slide-next.ui-slide__disabled:hover {
    background-image: url(/images/btn-slide-next-disabled.png);
}

.btn-slide-prev {
    background-image: url(/images/btn-slide-prev-disabled.png);
}

.btn-slide-prev:hover {
    background-image: url(/images/btn-slide-prev-hover.png);
}

.btn-slide-prev.ui-slide__disabled {
    cursor: default;
    background-image: url(/images/btn-slide-prev-disabled.png);
}

.btn-slide-prev.ui-slide__disabled:hover {
    background-image: url(/images/btn-slide-prev-disabled.png);
}
