doctype html
html
  head
    title 关于
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='/common/normalize.css/3.0.3/normalize.css')
    link(rel='stylesheet', href='/css/global.css')
    link(rel='stylesheet', href='/css/about.css')
  body
    include ./includes/header.jade
    div.nav.clear-fix
      div.row.nav-bar
        include ./includes/nav-list.jade
    div.row
      div.crumb 您当前所处的位置：首页 &gt; 酒店介绍
    div.row
      div.about
        div.about-tabs
          div.about-tabs-wrapper.clear-fix
            div.about-tabs-item.selected.jq-about-tab
              div.about-tabs-item-text 关于我们
              div.about-tabs-item-mark
                span
            div.about-tabs-saperator /
            div.about-tabs-item.jq-about-tab
              div.about-tabs-item-text 报名交费
              div.about-tabs-item-mark
                span
            div.about-tabs-saperator /
            div.about-tabs-item.jq-about-tab
              div.about-tabs-item-text 联系我们
              div.about-tabs-item-mark
                span
            div.about-tabs-saperator /
            div.about-tabs-item.jq-about-tab
              div.about-tabs-item-text 龙迹招聘
              div.about-tabs-item-mark
                span
            div.about-tabs-saperator /
            div.about-tabs-item.jq-about-tab
              div.about-tabs-item-text 龙迹公告
              div.about-tabs-item-mark
                span
            div.about-tabs-saperator /
            div.about-tabs-item.jq-about-tab
              div.about-tabs-item-text 免责声明
              div.about-tabs-item-mark
                span
            div.about-tabs-saperator /
            div.about-tabs-item.jq-about-tab
              div.about-tabs-item-text 领队介绍
              div.about-tabs-item-mark
                span
        div.about-contents
          div.about-contents-item.jq-about-content
            p
              em.orange: a(href='#') 龙迹户外
              | 由广州龙迹文化活动策划有限公司运营管理，正规注册,是一家专业的户外活动组织，成立于2003年，是广州地区最早成立的户外运动俱乐部之一，在广州及周边地区户外运动领域有较大的影响力。了解最新活动请点击这里：
              em.blue: a(href='#') 活动召集
              | &nbsp;
              em.blue: a(href='#') 活动照片
              | &nbsp;
              em.blue: a(href='#') 首页
            p 龙迹户外以个人、公司团体户外运动、自助旅行活动组织为主，同时免费为广大自助游和户外运动爱好者提供咨询和指导，并在周末定期组织一些自助式和半自助式的户外活动和交流联谊等活动。目前我们拥有了阳朔、凤凰、婺源、厦门、北海、衡山、张家界、云南丽江、西藏、新疆等多条特色自助游线路，迄今为止，我们已经为广州以及深圳、佛山、东莞等地区超过几十万名网友及几百家公司员工提供了优良的旅游服务。
            p 十多年来，龙迹户外一直秉承“安全、合作、环保、自助”的户外理念，坚持“认真、严谨、踏实、诚恳”的工作原则，遵从“个性、细心、安心、开心”的旅游目标，以个人、公司团体户外运动、拓展训练、自助旅行活动组织为主，同时免费为广大自助游和户外运动爱好者提供咨询和指导，并在周末定期组织各类自助式和半自助式的户外活动和交流联谊等活动，致力于各类各地甚至国外的特色、品质自助游活动的组织。放眼未来，我们将继续努力，开辟更多更精彩的自助游线路，提供更优良更全面的自助游服务。我们的业务范围包括：
            p
              a(href='#') 户外活动组织
              | &nbsp;
              a(href='#') 公司团队出游
            p
              a(href='#') 户外拓展训练
              | &nbsp;
              a(href='#') 大型主题活动
            p
              a(href='#') 亲子专线策划
              | &nbsp;
              a(href='#') 旅游租车订房
            p
              em.blue 俱乐部详细地址：
              | 广州市天河北路177号祥龙花园祥龙阁13楼1308室（天河北路与体育西路交叉路口） TEL：020-38488154  020-38488594 13570943066  18924132720  联系人：懒猫 (真名:汪桂玲)
            p 俱乐部地址示意图（
              em 三维立体地图：
              a(href='http://gz.o.cn/8832671') http://gz.o.cn/8832671
              | ）；
            p.no-indent.center
              img(src='/images/placeholder/map.gif')
            p
              | 本俱乐部热忱欢迎
              em.orange 公司
              | 、
              em.orange 团体
              | 包团参加自助游活动！具体优惠价格请与我们详细商谈。（可提供正式旅游发票以及相关的证明资料！）
            p
              em.orange 本俱乐部组织的自助游活动的特色：
            p
              span.blue 1.
              span.underline.blue 全程纯玩，绝无购物安排！将更多的时间用于游玩；
            p
              span.blue 2.
              span.underline.blue 不另外加景点，途中强制消费；
            p
              span.blue 3.
              span.underline.blue 景点、住宿及时间安排可根据客户要求进行适当调整，灵活性更强；
            p
              span.blue 4.
              span.underline.blue 经典线路，物超所值。好玩又实惠！ 
            p
              a.blue(href='#') 公司、团体包团线路推荐
            p
              span.blue 龙迹户外俱乐部承接公司团队自助游活动汇总(09年) 
            p
              span.blue 龙迹户外俱乐部承接公司团队自助游活动汇总(07年)
            p
              span.blue 龙迹户外俱乐部承接公司团队自助游活动汇总(06年)
            p.no-indent
              em.orange 品质保障
            p 龙迹户外为广东地区老牌户外俱乐部，成立于2003年，运作成熟稳定；线路经过优化和测试，安全性非常高；拥有多名带队经验丰富的专兼职户外领队；每次出行均为全体成员购买旅游意外保险，为您的出行保驾护航。
            p.no-indent
              em.blue 阳光行程：
              | 坚持不走购物点，全程纯玩，把更多的时间放在游玩和自由活动上，让行程变得更好玩、更自由、更实惠；
            p.no-indent
              em.blue 阳光价格：
              | 本俱乐部的价格全部为明码实价，绝无价格欺诈，且有会员优惠、提前七天报名优惠、学生报名优惠等多种优惠措施；
            p.no-indent
              em.blue 阳光服务：
              | 我们致力于为广大网友提供自由、健康的休闲及社交的平台，并为公司、企业提供可定制的纯玩旅游、商务旅游服务。
            p.no-indent
              | 广州龙迹户外领队八字方针：
              em.blue 认真
              em.blue 严谨
              em.blue 踏实
              em.blue 诚恳
            p.no-indent
              | 广州龙迹户外活动八字方针：
              em.blue 安全
              em.blue 合作
              em.blue 自助
              em.blue 环保
            p.no-indent 广州龙迹户外领队行为规范：
            p.no-indent 1、 性格开朗大方，为人坦诚正直
            p.no-indent 2、 熟悉行程安排，了解景点路线
            p.no-indent 3、 领队不准迟到早退置队员不理
            p.no-indent 4、 工作期间要保证在岗电话畅通
            p.no-indent 5、 行事冷静成熟不可与人起冲突
            p.no-indent 6、 非队员要求不准加行程外景点
            p.no-indent 7、 不准私下乱收高收队员活动费
            p.no-indent 8、 突发事件必须及时处理并汇报
            p.no-indent 9、 投诉必须认真对待并向上反馈
            p.no-indent 10、活动中要贯彻安全、环保理念
            p
              em.orange 希望我们的领队能给大家带来一个开心愉快的旅程！
            p
              em.orange 投诉建议：
            p 欢迎您对我们的服务提出投诉或建议，请您通过以下方式与龙迹户外俱乐部负责人懒猫联系：手机：13570943066  18924132720
            p.center
              img(width='830' src='/images/placeholder/about1.jpg')
            p.center
              img(width='830' src='/images/placeholder/about2.jpg')
            p.center
              img(width='830' src='/images/placeholder/about3.jpg')
            p.center
              img(width='830' src='/images/placeholder/about4.jpg')
            p.center
              img(width='830' src='/images/placeholder/about5.jpg')
            p.center.no-indent
              em.blue 广州龙迹户外运动俱乐部团队活动照片
            p.right
              span.orange.small 更多活动照片请点击这里：
              em.blue: a(href='#') 团队风采
              em.blue: a(href='#') 全部活动照片
            p.no-indent
              span.orange.small 阳朔：
            p.no-indent.center
              img(src='/images/placeholder/yangshuo1.jpg')
            p.no-indent.center
              img(src='/images/placeholder/yangshuo2.jpg')
            p.no-indent
              span.orange.small 凤凰古城：
            p.no-indent.center
              img(src='/images/placeholder/fenghuanggucheng1.jpg')
            p.no-indent.center
              img(src='/images/placeholder/fenghuanggucheng2.jpg')
            p.no-indent.center
              img(src='/images/placeholder/fenghuanggucheng3.jpg')
            p.no-indent
              span.orange.small 惠州双月湾：
            p.no-indent.center
              img(src='/images/placeholder/huizhoushuangyuewan1.jpg')
            p.no-indent
              span.orange.small 西冲露营：
            p.no-indent.center
              img(src='/images/placeholder/xichongluying1.jpg')
            p.no-indent.center
              img(src='/images/placeholder/xichongluying2.jpg')
            p.no-indent.center
              img(src='/images/placeholder/xichongluying3.jpg')
            p.no-indent
              span.orange.small 辣甲岛：
            p.no-indent.center
              img(src='/images/placeholder/lajiadao1.jpg')
            p.no-indent
              span.orange.small 海滩烧烤：
            p.no-indent.center
              img(src='/images/placeholder/haitanshaokao1.jpg')
            p.no-indent
              span.orange.small 篝火晚会：
            p.no-indent.center
              img(src='/images/placeholder/gouhuowanhui1.jpg')
            p.no-indent
              span.orange.small 厦门：
            p.no-indent.center
              img(src='/images/placeholder/xiamen1.jpg')
            p.no-indent.center
              img(src='/images/placeholder/xiamen2.jpg')
            p.no-indent
              span.orange.small 鼓浪屿：
            p.no-indent.center
              img(src='/images/placeholder/gulangyu1.jpg')
            p.no-indent
              span.orange.small 龙脊梯田：
            p.no-indent.center
              img(src='/images/placeholder/longjititian1.jpg')
            p.no-indent
              span.orange.small 云南·丽江古城：
            p.no-indent.center
              img(src='/images/placeholder/yunnanlijianggucheng1.jpg')
            p.no-indent
              span.orange.small 云南·梅里雪山:
            p.no-indent.center
              img(src='/images/placeholder/yunnanmeilixueshan1.jpg')
            p.no-indent.center
              img(src='/images/placeholder/yunnanmeilixueshan2.jpg')
            p.no-indent
              span.orange.small 衡山:
            p.no-indent.center
              img(src='/images/placeholder/hengshan1.jpg')
            p.no-indent
              span.orange.small 婺源:
            p.no-indent.center
              img(src='/images/placeholder/ziyuan1.jpg')
            p.no-indent
              span.orange.small 婺源李坑：
            p.no-indent.center
              img(src='/images/placeholder/ziyuanlikeng1.jpg')
            p.no-indent
              span.orange.small 张家界：
            p.no-indent.center
              img(src='/images/placeholder/zhangjiajie1.jpg')
            p.no-indent
              span.orange.small 北海涠洲岛：
            p.no-indent.center
              img(src='/images/placeholder/beihaiweizhoudao1.jpg')
            p.no-indent
              span.orange.small 海南三亚：
            p.no-indent.center
              img(src='/images/placeholder/hainansanya1.jpg')
            p.no-indent
              span.orange.small 清远野战、温泉：
            p.no-indent.center
              img(src='/images/placeholder/qingyuanyezhanwenquan1.jpg')
            p.no-indent
              span.orange.small 江西婺源赏油菜花：
            p.no-indent.center
              img(src='/images/placeholder/jiangxiziyuanshangyoucaihua1.jpg')
            p.no-indent.center
              img(src='/images/placeholder/jiangxiziyuanshangyoucaihua2.jpg')
            p.no-indent
              span.orange.small 武大赏樱花：
            p.no-indent.center
              img(src='/images/placeholder/wudashangyinghua1.jpg')
            p.no-indent
              span.orange.small 韶关巴寨驴行：
            p.no-indent.center
              img(src='/images/placeholder/shaoguanbazhailvxing1.jpg')
            p.no-indent
              span.orange.small 东北雪乡：
            p.no-indent.center
              img(src='/images/placeholder/dongbeixuexiang1.jpg')
            p.no-indent.center
              img(src='/images/placeholder/about-logo.jpg')
            p.no-indent.center
              span.orange.small 龙迹户外俱乐部欢迎您！
            p.no-indent.center
              img(src='/images/placeholder/about-footer1.jpg')
              img(src='/images/placeholder/about-footer2.jpg')
              img(src='/images/placeholder/about-footer3.jpg')
              img(src='/images/placeholder/about-footer4.jpg')
              img(src='/images/placeholder/about-footer5.jpg')
              img(src='/images/placeholder/about-footer6.jpg')
          div.about-contents-item.jq-about-content(style='display: none')
            p.center
              em.orange 如何交款？
            p.no-indent
              span.red --------------------------------注意事项 --------------------------------
            p.no-indent 报名参加活动者需每人先预交￥200~1000元的预交款（具体金额以该活动的行程介绍为准），余款上车交齐（现金）
            p.no-indent 1、打款前请详细咨询活动内容，并已确定您已成功提交报名资料后，根据客服或领队的提示转账到相关账户；
            p.no-indent 2、打款前请核对好相关的银行帐号，部分银行或支付宝网上转账可勾选“短信通知”，请填写负责人懒猫：18924132720手机号；
            p.no-indent 3、ATM转账或柜台转账请保留存根拍照，如通过网上银行请截图转账成功页面，通知客服确认查询是否到账！ 
            p.no-indent 4、客服确认打款成功后，该报名生效，请等待集合通知（短线活动通常会活动前1-2天通知，长线活动3-5天通知）；
            p.no-indent 5、需要发票或者收据的，报名时请说明（要发票需另外交税，具体请咨询客服，收据则不需要补交）。
            p.no-indent
              span.red --------------------------------龙迹户外官方账户一览表 -------------------------------
            p.no-indent
              span.blue 『
              span.red 交款方式一
              span.blue 』：网银转帐  银行卡自助转账
              span.upper.bg-red 荐
              span.blue /支付宝
              span.upper.bg-red 荐
              span.blue /网上银行/银行汇款/
            p.no-indent
              span.bank-icon.icbc
              | 工商银行卡号：6222 0836 0200 3906 085       用户名：汪桂玲   支行:广州中石化大厦支行
            p.no-indent
              span.bank-icon.boc
              | 中国银行卡号：6217 8570 0000 1086 881       用户名：汪桂玲   支行：广州友谊支行
            p.no-indent
              span.bank-icon.abc
              | 农业银行卡号：6228 4800 8467 0352 818       用户名：汪桂玲   支行：广州林和西路支行
            p.no-indent
              span.bank-icon.cmbc
              | 民生银行卡号：6226 2203 0710 9420              用户名：汪桂玲   支行：广州分行营业部
            p.no-indent
              span.bank-icon.cmb
              | 招商银行卡号：6225 8820 1755 7205               用户名：汪桂玲   支行：广州天河支行
            p.no-indent
              span.bank-icon.ccb
              | 建设银行卡号：4367 4233 2813 0316 659        用户名：汪桂玲   支行：广州直属支行
            p.no-indent
              span.bank-icon.bankcomm
              | 交通银行卡号：6222 6007 1001 3159 704        用户名：汪桂玲   支行:  广州耀中支行
            p.no-indent
              span.bank-icon.pingan
              | 平安银行卡号：6230582000034148711            用户名：汪桂玲   支行：广州环市东支行
            p.no-indent 支付宝帐号：18924132720   用户名：汪桂玲
            p.no-indent 微信支付：可选先加18924132720懒猫微信，然后通过微信支付
            p.no-indent
              span.blue 『
              span.red 交款方式二
              span.blue 』：亲临龙迹户外办公室现金交款或刷卡，境外卡需另支付2个点的交易费，谢谢！
            p.no-indent 地址：广州市天河北路177号祥龙花园祥龙阁1308室【天河北路与体育西路交界处,市长大厦、大都会广场、广州体院南门隔壁，中石化大厦对面】
            p.no-indent 400-838-9008   020-38488154  38488594  (9:30~21:00,周末请提前预约)
            p.no-indent
              em.blue 查看百度静态地图：
            p.no-indent.center
              img(src='/images/placeholder/map2.jpg')
            p.no-indent
              em.orange 查看静态地图：
            p.no-indent.center
              img(src='/images/placeholder/map3.gif')
            p.no-indent
              em 点击这里：
              em.blue: a(href='http://gz.o.cn/8832671') 查看三维立体地图
            p.no-indent 大家可以亲自到我们的办公室来了解我们的活动，我们进行现场咨询，同时接受现场报名及收费。欢迎大家有空来坐坐！
            p.no-indent
              span.red 地铁线路指引：
            p.no-indent 广州地铁3号线林和西站以及珠江新城旅客自动输送系统(APM线)林和西站。
            p.no-indent
              span.red 公交线路指引：
            p.no-indent 大家可以坐公交车到以下2个站点之一下车（时代广场站、体育西路站），然后步行至祥龙花园找177号祥龙阁1308室。
            p.no-indent 时代广场站所有车 ：
            p.no-indent 122    133    136    183    191    209    256    271    504    508快线    547    6    804A    804快    804    841    B16    高峰快线15    夜28
            p.no-indent 体育西路站所有车  ：
            p.no-indent 130    195    233    263    280    551    78    810    89    高峰快线15    夜17    夜51
            p.no-indent
              span.red 自驾车指引：
            p.no-indent 自驾人士：
            p  一、沿天河北路由东往西方向行驶：依次经过中信广场、市长大厦(大都会广场)、祥龙写字楼、祥龙花园，然后从祥龙花园紧邻广州体院南门的一侧进入小区后面停车。
            p 二、沿天河北路由西往东方向行驶：依次经过时代广场、中石化大厦，在中石化大厦旁的红绿灯前掉头马上靠边，即是祥龙花园的停车场入口（此入口的右边是广州体院的南校门！）。
            p 入场处设有自助取卡机，15分钟内免费，1小时内收费5元。一般停在大厦后面的露天停车场。如有问题请打电话咨询懒猫：18924132720
            p.no-indent
              span.blue 『
              span.red 交款方式三
              span.blue 』：上门收款：
            p.no-indent 仅限公司团队定制路线，我们会按排工作人员带上合同、行程、单据等上门签单、团队报名,咨询电话:18620093622 海歌
          div.about-contents-item.jq-about-content(style='display: none')
            p.center: em.orange 联系我们
            hr
            p.center 联系方式
            p.no-indent 1.您可以通过电话直接联系我们：
            p 报名咨询热线：4008-838-9008 020-38488154，020-38488594
            p 客服燕子：QQ： 859451850，TEL：18902308290 （欢迎添加微信）
            p 客服飞翔：QQ ：448397119 TEL：18922263273 （欢迎添加微信）
            p 客服飞雁：QQ：253960872，TEL：18922263272 （欢迎添加微信）
            p 客服小龚：QQ：859762663，TEL：18922263270 （欢迎添加微信）
            p 客服小康：QQ：859149037，TEL：18922263271 （欢迎添加微信）
            p 团队专线海歌：QQ：623699327， TEL：18620093622 （欢迎添加微信）
            p 监督专线懒猫：QQ：859212079， TEL：18924132720 （欢迎添加微信）
            p QQ群：169479612 169478815
            p.no-indent 邮件地址：
            p: a(href='mailto:wgling0462@hotmail.com'): em.blue wgling0462@hotmail.com
            p: a(href='mailto:wangshijie88@hotmail.com'): em.blue wangshijie88@hotmail.com
            p.no-indent 2.您也可以通过电子邮件方式联系我们：
            p: a(href='mailto:linla_111@163.com'): em.blue linla_111@163.com
            p.no-indent 3.亲自莅临我们的办公室：
            p.center: em.blue.underline 广州市天河北路177号祥龙花园祥龙阁1706室
            p.center (天河北路与体育西路交叉路口,市长大厦隔壁，中石化大厦对面，力美健会所楼上）
            p.center (020)3848815４ 3848859４ 办公时间：9:00~21:00（周一~周六,周日请提前预约）
            p.center: img(src='/images/placeholder/map.gif')
            p.center
              | 点击这里：
              a(href='http://gz.o.cn/8832671'): em.blue 查看三维立体地图
            p.no-indent 大家可以亲自到我们的办公室来了解我们的活动，我们进行现场咨询，同时接受现场报名及收费。欢迎大家有空来坐坐！
            hr
            p.no-indent: em 来访的朋友请留意：
            p.blue 本俱乐部位于天河北路与体育西路交界处，市长大厦/大都会广场西侧，广州体育学院正门东侧，中石化大厦对面。5楼有力美健健身俱乐部，3楼有毛家饭店，大家来之前最好预先电话联系我们，以便我们安排接待。
            p.no-indent: em 祥龙花园外景：
            p.center: img(src='/images/placeholder/yq.jpg')
            p.no-indent
              | 广州公交线路查询：
              a(href='http://www.gz-bus.com/chaxun/'): span.blue http://www.gz-bus.com/chaxun/
            p.no-indent
              | 广州
              em.red 地铁线路图
              | 查询：
              a(href='http://map.baidu.com/subways/index.html?c=guangzhou'): span.blue http://map.baidu.com/subways/index.html?c=guangzhou
          div.about-contents-item.jq-about-content(style='display: none')
            p.center: em.orange 领队招聘
            p.no-indent: em.blue 专职领队：
            p 1.熟悉电脑操作，打字速度要比较快，熟悉EXCEL/WORD、QQ/MSN/EMAIL/等电脑软件操作技能，有一定的互联网知识基础,有网络推广经验者可优先考虑。
            p 2.有一定的户外运动理念，了解户外活动性质，有一定的户外活动经验（最少有三次以上驴行验），有较强的团队协调能力及对突发事件的判断及决断能力。有丰富的野外生存能力和简单的医疗救护能力者或持正规导游证者优先。
            p 3.身体健康，性格开朗，做人正直，待人坦诚,语言有亲和力。要让俱乐部把团队交给你放心,要让你的队员和拍档对你有安全感，有一定的领导能力和调节气氛的能力。
            p 4.最好对拓展有一定了解，参加过拓展活动，组织过相关活动的优先。
            p 5.具备吃苦和创新精神，善于开发新路线，有一定的商业合作谈判经验,熟悉客户关系管理,从事过户外或旅行相关行业者优先。
            p 6.应聘者至少要参加过龙迹户外组织过的户外活动一次，看看自己是否能够胜任这样的工作，并且确认好自己是否有长期做这行的准备。
            p 确认自己能达到以上要求，并且在参加过我们的活动后更是强烈的想要入这行的朋友请直接带个人简历和我联系后面试即可，待遇面议。
            p.no-indent: em.blue 兼职领队：
            p 1.有一定的户外运动理念，了解户外活动性质，有一定的户外活动经验（最少有三次以上驴行验），有较强的团队协调能力及对突发事件的判断及决断能力。有丰富的野外生存能力和简单的医疗救护能力者优先。
            p 2.身体健康，性格开朗，做人正直，待人坦诚。要让俱乐部把团队交给你放心,要让你的队员和拍档对你有安全感，有一定的领导能力和调节气氛的能力。
            p 3.最好对拓展有一定了解，参加过拓展活动，组织过相关活动的优先。
            p 4.具备吃苦和创新精神，善于开发新路线，曾担任过其他旅行社或户外领队工作的优先。
            p 5.希望正职工作比较轻松,周末时间比较容易好安排.
            p 符合以上条件并对户外旅游有兴趣的请与我们联系,我们会放入兼职领队档案,安排时间实习,合格后即可上岗.
            p.no-indnet: em.blue 客服：
            p 熟悉电脑操作，打字速度要比较快，熟悉EXCEL/WORD、QQ/MSN/EMAIL/等电脑软件操作技能，有一定的互联网知识基础,对旅游或户外运动有一定的了解,有电话网络客服经验,反应力快,做事专心用心,有网络推广经验.
            p.no-indent: em.blue 业务员：
            p 为人可靠,有市场开拓能力,接单即提.
            p 对以上职位有兴趣者可请先上官网(
              a(href='http://www.longjihw.com') http://www.longjihw.com
              | )了解龙迹户外后直接联系懒猫(汪小姐):13570943066.QQ:285102043或将简历发QQ邮箱,我们会尽快联系您.
          div.about-contents-item.jq-about-content(style='display: none')
            p.gonggao-title.no-indent 【龙迹公告】
            ul.gonggao-list
              each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                li: a(href='#') · 2015全国群众登山健身大会（广州站）暨首届广州户外运动节启动仪式回顾，2015全国群众登山健身大会（广州站）暨首届广州户外运动节启动仪式回顾 
          div.about-contents-item.jq-about-content(style='display: none')
            p 1：龙迹户外活动均为自助游性质并有一定的危险性的活动，有的甚至无法预知，请参加者须对自己的安全负责，务必要求有购保险，出发前做好安全防护、装备准备，不可隐瞒身体状况强行而为。活动过程中要严格听从组织者指挥，按规定行程安排，否则由此产生的一切后果由责任人承担；俱乐部会帮所有参加者办理旅游意外险,活动中若发生意外事故，组织者有义务组织救援或改变行程，但不承担任何法律和经济责任，由保险公司赔付。不承担因不可抗力原因造成的交通故障或事故、车辆故障或事故或天气原因所造成的行程延误或意外而导致的一切责任。提前离团者请签离团单说明。
            p 2：活动中不乱丢垃圾，不破坏植被，鼓励拾捡垃圾提倡环保，在活动中充分发挥安全、自助、环保、协作的精神。
            p 3：如时间或天气上有意外，领队有权根据实际情况的变化，在和队员做出问题沟通后结合少数服从多数的方法对行程进行适当调整，确保最大可能的旅程享受，费用方面多退少补。
            p 4：为保障所有参与者的权利，保证活动顺利成行，所有参与者都请报资料后尽快预交费用。如因人数不够组织方会最少提前三天通知大家，然后全额退款。在规定时间后退出者可找人顶替，否则需要扣除已产生的车费保险住宿等费用，有的等同于预交款的费用。
            p 5：代他人报名者必须将以上注意事项告知被代报名参加者，凡报名者均视为接受本俱乐部声明，凡被代报名参加者均视为已通过代他人报名者知晓以上注意事项并接受本俱乐部声明及安排。
            p 6：出团前均为每位团友购买保险 (备 注 :因道路交通事故造成的客人意外伤害，按《道路交通事故处理方法》由保险公司赔偿。本公司不承担另外的赔偿责任。旅游保险不含财产险，请保管好自己的财物
              span.red (特别说明：18周岁以下的未成年人、70岁以上老年人最高身故保额以中国保险监督管理委员会规定为准,85以上不受理承保)
          div.about-contents-item.jq-about-content(style='display: none') 领队介绍
    script(src='/common/jquery/1.11.3/jquery.js')
    script(src='/js/about.js')
    include ./includes/footer.jade
