doctype html
html
  head
    title 单个活动
    link(rel='stylesheet', href='/common/normalize.css/3.0.3/normalize.css')
    link(rel='stylesheet', href='/css/global.css')
  body
    include ./includes/header.jade
    div.nav.clear-fix
      div.row.nav-bar
        include ./includes/nav-list.jade
    div.row
      div.crumb 首页 &gt; 川藏滇专线 &gt; 云南丽江5天游
    div.row.clear-fix
      div.detail
        div.detail-title <丽江大理双廊双飞5日游>双廊客栈自由活动，0购物，普陀私家温泉
        div.detail-summary.clear-fix
          div.detail-sumary-icon 跟团游
          div.detail-sumary-code 编号23552858：
          div.detail-sumary-text 本产品由北京途牛国际旅行社有限公司广州分公司及具有资质的合作旅行社提供相关服务
          div.detail-sumary-rank
            div.detail-sumary-rank-star
            div.detail-sumary-rank-star
            div.detail-sumary-rank-star
        div.detail-gallery
          div.detail-gallery-main
          div.detail-gallery-thumbs
            div.detail-gallery-thumbs-prev
            div.detail-gallery-thumbs-list
              div.detail-gallery-thumbs-list-item
              div.detail-gallery-thumbs-list-item
              div.detail-gallery-thumbs-list-item
              div.detail-gallery-thumbs-list-item
            div.detail-gallery-thumbs-next
        div.detail-description
          div.detail-description-title 活动类型:广东周边
          div.detail-description-text 活动时间：2014-11-21 20:00 至 2014-11-23 20:30
          div.detail-description-text 活动地点：韶关南雄
          div.detail-description-text 交通信息：飞机去飞机回
          div.detail-description-text 报名截止：2014-11-20 12:00
    div.row
      div.content
        div.contents-tabs
          div.contents-tabs-item.selected 团队行程
          div.contents-tabs-item 费用说明
          div.contents-tabs-item 报名方式
          div.contents-tabs-item 重要说明
          div.contents-tabs-item 集合地点
          div.contents-tabs-item 温馨提示
          div.contetns-tabs-item 免费说明
        div.contents-details
          div.contents-details-item.xingcheng 团队行程
          div.contents-details-item.feiyong 费用说明
          div.contents-details-item.baoming 报名方式
          div.contents-details-item.shuoming 重要说明
          div.contents-details-item.jihe 集合地点
          div.contents-details-item.tishi 温馨提示
          div.contents-details-item.mianfei 免费说明
