doctype html
html
  head
    title 活动大厅
    link(rel='stylesheet', href='css/global.css')
    link(rel='stylesheet', href='css/activities.css')
  body
    include ./includes/header.jade
    div.nav.clear-fix
      div.row.nav-bar
        include ./includes/nav-list.jade
