doctype html
html
  head
    title 唯美图文 - 文章
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='/common/normalize.css/3.0.3/normalize.css')
    link(rel='stylesheet', href='/css/global.css')
    link(rel='stylesheet', href='/css/article.css')
  body
    include ./includes/header.jade
    div.nav.clear-fix
      div.row.nav-bar
        include ./includes/nav-list.jade
    div.row
      div.crumb 您当前所处的位置：首页 &gt; 美图美文 &gt; 雨季找寻曼妙晴天
    div.row
      div.article.clear-fix
        div.article-header
          div.article-header-title
            div.article-header-title-main 雨季找寻曼妙晴天
            div.article-header-title-sub 于2016-02-15发布 | 5天 | 浏览72889次
        div.article-content
          div.article-content-header
            div.article-content-header-gallery
              div.article-content-header-gallery-content
                each val in [1, 2, 3, 4, 5, 6, 7]
                  a(href='#').jq-gallery-item
                    img(src='/images/placeholder/article-content-header-gallery-content.png')
              div.article-content-header-gallery-tabs
                div.article-content-header-gallery-tabs-prev.jq-gallery-prev
                div.article-content-header-gallery-tabs-wrapper
                  each val in [1, 2, 3, 4, 5, 6, 7]
                    div.article-content-header-gallery-tabs-item.jq-gallery-tab
                      img(src='/images/placeholder/article-content-header-gallery-tabs-item.png')
                div.article-content-header-gallery-tabs-next.jq-gallery-next
          div.article-content-body
            div.article-content-body-section
              p.article-content-body-section-p 刚在三亚过完今年的第二个夏天，都还没开始适应杭州阴冷的天气，我们就再度出发去过第三个夏天了！这次选择了东南亚 的热带岛国——新加坡。虽然这个国家的领土面积还不及杭州的一半，却创造了众多的世界之最。无论是全世界造价最高的 金沙酒店还是全世界最高的无边泳池，无论是全世界最高的摩天轮还是东南亚唯一的环球影城，都早已令我心驰神往。特地 赶圣诞节到来之前去是因为我知道一定会有一大波的打折促销等着我们！这个集购物、游乐、美食于一体的多种族文化国度 注定会给我们2014年的旅程画上一个完美的终结。新加坡，let's 购
            div.article-content-body-section
              div.article-content-body-section-title
                span.main 第1天
                span.sub 2014-12-03
              p.article-content-body-section-p.loose.big ··· 预告片
              div.article-content-body-section-video-wrapper(style='background-color: rgba(0, 0, 0, .5); background-color: #9d9d9d;')
                video
                div.article-content-body-section-video-mark
                  div.article-content-body-section-video-mark-icon
                  | 预告片
              p.article-content-body-section-p.loose ··· 行程准备篇
              p.article-content-body-section-p.loose 【拍摄装备】单反相机：5D MARK II, 广角镜头16-35 F2.8，定焦镜头50 F1.4，长焦卡片机：佳能SX60，手机：iPhone 5S 自拍杆（没有用上），三脚架（不让用）
              p.article-content-body-section-p.loose 【后期】Lightroom+photoshop，水印用CAD制作
              p.article-content-body-section-p.loose &nbsp; 
              p.article-content-body-section-p.loose 【背景音乐】Jon Mclaughlin 《Indiana》
              p.article-content-body-section-p.loose &nbsp;
              p.article-content-body-section-p.loose 【旅行日历】位于赤道附近的新加坡四季如夏，温差很小，其中11月-次年2月是当地的雨季，天气也会相对凉爽。
              p.article-content-body-section-p.loose &nbsp;
              p.article-content-body-section-p.loose 【防护用品】
              p.article-content-body-section-p.loose 1、去感受新加坡的夏天，请一定要备足倍防晒霜，且倍数要在50倍以上
              p.article-content-body-section-p.loose 2、晒后修复不可忽视，建议洗完脸就用喷雾狂喷脸镇静皮肤，比任何面膜都有用。
              p.article-content-body-section-p.loose 3、带点肠胃药、感冒药、消炎药应急，水土不服、肠胃不适总是难免的。
              p.article-content-body-section-p.loose 4、雨季去新加坡的朋友请记得带好雨具
            div.article-content-body-section
              div.article-content-body-section-title
                span.main 第2天
                span.sub 2014-12-04
              p.article-content-body-section-p.loose.big ··· 乌节路，
                span(style='color: #ff8800;') 克拉码头 
              p.article-content-body-section-p.loose 从半夜开始下起的雨让我们对原本计划好的圣淘沙名胜世界一日游开始动摇，向酒店的工作人员打听了一下通常新加坡的雨 会下多久，得到的回答是每次的雨都不同，像今天这样的雨估计会下上一整天。幸好我们还有应对雨天的PlanB—室内血拼！ Tips:雨季来新加坡的朋友，如果前两天正好碰上下雨，不妨先安排一些可以室内进行的活动，例如参观博物馆或者去商场逛 逛，因为后面你一定会碰上好天气，到时候再去室外观景游玩才是最明智的选择啊！
              div.article-content-body-section-video-wrapper(style='background-color: rgba(0, 0, 0, .5); background-color: #9d9d9d;')
                video
                div.article-content-body-section-video-mark
                  div.article-content-body-section-video-mark-icon
                  | 乌节路，克拉码头 
            div.article-content-body-section
              div.article-content-body-section-title
                span.main 第3天
                span.sub 2014-12-05
              p.article-content-body-section-p.loose.big ··· 环球影城、怡丰城、摩天轮
              p.article-content-body-section-p.loose 门票：成人一日票74新币，两日票118新币；儿童一日票54新币，两日票88新币；老人一日票36新币，两日票58新币；持狮 城全景通卡的游客可以免费进入。交通：地铁黄线、紫线HabourFront站再换乘其它交通方式,你有四种方式可以抵达：1、 在怡丰城L大厅三楼乘坐圣淘沙捷运（Sentosa Express），车票4新币。2、在怡丰城门外坐RSW8，车票2新币。3、在怡丰 城一楼的圣淘沙跨海步道步行至环球影城，距离约五六百米，抵达后需支付1新币门票。4、在港湾第二大厦的缆车中心乘坐 新加坡缆车，成人26新币，儿童15新币。Tips:环球影城售票处的排队队伍非常长，一般需要二三十分钟才能排到，持有狮城 全景通的游客则无需排队，直接到地下一楼的K17柜台兑换影城一日票即可，非常快捷。
        div.article-right
          div.article-right-time
            div.article-right-time-info
              div.article-right-time-info-days.clear-fix
                div.article-right-time-info-days-range
                  p 启程 2016-01-05
                  p 回归 2016-01-05
                div.article-right-time-info-days-count 共
                  span.count 1
                  | 天
              div.article-right-time-info-counts.clear-fix
                div.article-right-time-info-counts-item
                  div.article-right-time-info-counts-item-icon.pics
                  | 7张照片
                div.article-right-time-info-counts-item
                  div.article-right-time-info-counts-item-icon.points
                  | 4个景点
            div.article-right-time-status.clear-fix
              div.article-right-time-status-item
                div.article-right-time-status-item-icon.want
                | 我想去
                br
                | 115
              div.article-right-time-status-item
                div.article-right-time-status-item-icon.did
                | 去过
                br
                | 98
          div.article-right-ads.clear-fix
            each val in [1, 2, 3]
              div.article-right-ads-item
                a(href='#')
                  img(src='/images/placeholder/article-right-ads-item.png')
          div.article-right-sector
            div.article-right-sector-header.orange
              a.more(href='#') 更多&gt;
              div.icon
              span 推荐阅读
            div.article-right-sector-list
              each val in [1, 2, 3, 4, 5]
                div.article-right-sector-list-item
                  div.article-right-sector-list-item-thumb
                    img(src='/images/placeholder/articles-content-content-side-sector-list-item-thumb.png')
                  div.article-right-sector-list-item-title 一路向北，去看中国白雪
                  div.article-right-sector-list-item-description
                    | 东北的冬天，对于一个出生在南方，很少见到雪的孩子来说...
                    a.more(href='#') 详细
    include ./includes/footer.jade
    script(src='/common/jquery/1.11.3/jquery.js')
    script(src='/js/article.js')
    include ./includes/right-side-bar.jade
