link(rel='stylesheet', href='/css/addons.css')
div.addons.clear-fix.jq-addons
  div.addons-background
  div.addons-content
    div.addons-content-close.jq-addons-close
    div.addons-content-img
      a(href='#')
        img(src='/images/placeholder/addons-content-img.png')
script(src='/js/addons.js')
