div.footer.clear-fix
  div.row
    div.footer-col
      div.footer-col-title 关于我们
      div.footer-col-text 地址:广州市天河北路177号祥龙花园祥龙阁1308室
    div.footer-col
      div.footer-col-title 联系我们
      div.footer-col-text 电话：020-38488154  38488594
      div.footer-col-text 办公时间：9:30~21:00(周一~周六）
    div.footer-col
      div.footer-col-title 关注龙迹户外
      div.footer-col-text 关注我们的微博，
      div.footer-col-text 微信，促销活动随时掌握
      div.footer-col-weibo.sina 官方微博
      div.footer-col-weibo.t 官方微博
    div.footer-col
      div.footer-col-weixin
        img(src='/images/footer-contact.png')
