div.footer.clear-fix
  div.row.clear-fix
    div.footer-col
      div.footer-col-title 关于我们
      div.footer-col-text 地址:广州市天河北路177号祥龙花园祥龙阁1308室
    div.footer-col
      div.footer-col-title 联系我们
      div.footer-col-text 电话：020-38488154  38488594
      div.footer-col-text 办公时间：9:30~21:00(周一~周六）
    div.footer-col
      div.footer-col-title 关注龙迹户外
      div.footer-col-text 关注我们的微博，
      div.footer-col-text 微信，促销活动随时掌握
      div.footer-col-weibo.sina 官方微博
      div.footer-col-weibo.t 官方微博
    div.footer-col
      div.footer-col-weixin
        img(src='/images/footer-contact.png')
  div.row.clear-fix.last
    div.footer-copyright
      div.footer-copyright-text Copyright © longjihw.com All rights reserved 广州龙迹文化活动策划有限公司 版权所有粤ICP1201257
      div.footer-copyright-imgs
        img(src='/images/footer-1.png')
        img(src='/images/footer-2.png')
        img(src='/images/footer-3.png')
        img(src='/images/footer-4.png')
        img(src='/images/footer-5.png')
        img(src='/images/footer-6.png')
