div.row.header
  a(href='/')
    div.logo
  div.search
    div.search-wrapper
      div.search-icon
      input.search-input(type='text', placeholder='请输入目的地、关键字')
    div.search-button
      a(href='') 搜 索
