link(rel='stylesheet', href='/css/left-side-bar.css')
div.left-side-bar.jq-left-side-bar
  div.left-side-bar-banner
    a(target='_blank' href='http://www.baidu.com')
      img(src='/images/placeholder/left-side-bar-banner.jpg')
    a.left-side-bar-banner-close.jq-left-side-bar-banner-close(href='#')
script(src='/js/left-side-bar.js')
