link(rel='stylesheet', href='/css/left-side-bar.css')
div.left-side-bar.jq-left-side-bar
  div.left-side-bar-banner
    img(src='/images/placeholder/left-side-bar-banner.jpg')
script(src='/js/left-side-bar.js')
